$hv-colors: (
  "Green": #00d66c,
  "GreenDark": #1e9162,
  "GreenLight": #4de298,
  "Red": #ff3268,
  "RedDark": #ca2b55,
  "RedLight": #ff658e,
  "Blue": #2800a0,
  "BlueDark": #120145,
  "BlueLight": #5e40b8,
  "Black": #202020,
  "Sand": #f3e5d8,
  "LightGray": #f7f7f7,
  "Gray": #909090
);

$hv-colors-extended: (
  "Green": (
    "r": 0,
    "g": 214,
    "b": 108,
    "h": 150.2803738317757,
    "s": 100,
    "l": 41.96078431372549
  ),
  "GreenDark": (
    "r": 30,
    "g": 145,
    "b": 98,
    "h": 155.47826086956522,
    "s": 65.71428571428571,
    "l": 34.31372549019608
  ),
  "GreenLight": (
    "r": 77,
    "g": 226,
    "b": 152,
    "h": 150.2013422818792,
    "s": 71.9806763285024,
    "l": 59.411764705882355
  ),
  "Red": (
    "r": 255,
    "g": 50,
    "b": 104,
    "h": 344.1951219512195,
    "s": 100,
    "l": 59.80392156862745
  ),
  "RedDark": (
    "r": 202,
    "g": 43,
    "b": 85,
    "h": 344.1509433962264,
    "s": 64.89795918367346,
    "l": 48.0392156862745
  ),
  "RedLight": (
    "r": 255,
    "g": 101,
    "b": 142,
    "h": 344.02597402597405,
    "s": 100,
    "l": 69.80392156862744
  ),
  "Blue": (
    "r": 40,
    "g": 0,
    "b": 160,
    "h": 255,
    "s": 100,
    "l": 31.372549019607842
  ),
  "BlueDark": (
    "r": 18,
    "g": 1,
    "b": 69,
    "h": 255,
    "s": 97.14285714285715,
    "l": 13.72549019607843
  ),
  "BlueLight": (
    "r": 94,
    "g": 64,
    "b": 184,
    "h": 255,
    "s": 48.38709677419355,
    "l": 48.627450980392155
  ),
  "Black": (
    "r": 32,
    "g": 32,
    "b": 32,
    "h": 0,
    "s": 0,
    "l": 12.549019607843137
  ),
  "Sand": (
    "r": 243,
    "g": 229,
    "b": 216,
    "h": 28.888888888888925,
    "s": 52.94117647058819,
    "l": 89.99999999999999
  ),
  "LightGray": (
    "r": 247,
    "g": 247,
    "b": 247,
    "h": 0,
    "s": 0,
    "l": 96.86274509803921
  ),
  "Gray": (
    "r": 144,
    "g": 144,
    "b": 144,
    "h": 0,
    "s": 0,
    "l": 56.470588235294116
  )
);

$hv-Green: #00d66c;
$hv-Green-s: 100;
$hv-Green-l: 41.96078431372549;
$hv-Green-r: 0;
$hv-Green-g: 214;
$hv-Green-b: 108;

$hv-GreenDark: #1e9162;
$hv-GreenDark-s: 65.71428571428571;
$hv-GreenDark-l: 34.31372549019608;
$hv-GreenDark-r: 30;
$hv-GreenDark-g: 145;
$hv-GreenDark-b: 98;

$hv-GreenLight: #4de298;
$hv-GreenLight-s: 71.9806763285024;
$hv-GreenLight-l: 59.411764705882355;
$hv-GreenLight-r: 77;
$hv-GreenLight-g: 226;
$hv-GreenLight-b: 152;

$hv-Red: #ff3268;
$hv-Red-s: 100;
$hv-Red-l: 59.80392156862745;
$hv-Red-r: 255;
$hv-Red-g: 50;
$hv-Red-b: 104;

$hv-RedDark: #ca2b55;
$hv-RedDark-s: 64.89795918367346;
$hv-RedDark-l: 48.0392156862745;
$hv-RedDark-r: 202;
$hv-RedDark-g: 43;
$hv-RedDark-b: 85;

$hv-RedLight: #ff658e;
$hv-RedLight-s: 100;
$hv-RedLight-l: 69.80392156862744;
$hv-RedLight-r: 255;
$hv-RedLight-g: 101;
$hv-RedLight-b: 142;

$hv-Blue: #2800a0;
$hv-Blue-s: 100;
$hv-Blue-l: 31.372549019607842;
$hv-Blue-r: 40;
$hv-Blue-g: 0;
$hv-Blue-b: 160;

$hv-BlueDark: #120145;
$hv-BlueDark-s: 97.14285714285715;
$hv-BlueDark-l: 13.72549019607843;
$hv-BlueDark-r: 18;
$hv-BlueDark-g: 1;
$hv-BlueDark-b: 69;

$hv-BlueLight: #5e40b8;
$hv-BlueLight-s: 48.38709677419355;
$hv-BlueLight-l: 48.627450980392155;
$hv-BlueLight-r: 94;
$hv-BlueLight-g: 64;
$hv-BlueLight-b: 184;

$hv-Black: #202020;
$hv-Black-s: 0;
$hv-Black-l: 12.549019607843137;
$hv-Black-r: 32;
$hv-Black-g: 32;
$hv-Black-b: 32;

$hv-Sand: #f3e5d8;
$hv-Sand-s: 52.94117647058819;
$hv-Sand-l: 89.99999999999999;
$hv-Sand-r: 243;
$hv-Sand-g: 229;
$hv-Sand-b: 216;

$hv-LightGray: #f7f7f7;
$hv-LightGray-s: 0;
$hv-LightGray-l: 96.86274509803921;
$hv-LightGray-r: 247;
$hv-LightGray-g: 247;
$hv-LightGray-b: 247;

$hv-Gray: #909090;
$hv-Gray-s: 0;
$hv-Gray-l: 56.470588235294116;
$hv-Gray-r: 144;
$hv-Gray-g: 144;
$hv-Gray-b: 144;
